$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$grey-semi-dark:#EAEAEA;
$grey-semi-light:#f6f6f6;
$pink-light:#F5EDFF;
$grey-dusky:#7e7e7e;
$grey:#686868;
$white:#fff;
$green-dark:#1C987A;
$black:#353535;
$reserve:#6e6464;
$header: black;


$shadow:0 0 .5rem rgba(0,0,0,0.3);
$shadow1:.25rem .25rem .15rem rgba(0,0,0,0.3)
