.header {
  @include flex;
  padding: 1rem;
  box-shadow: $shadow;
  @include rel;
  z-index: 10;

  &__logo {
      @include flex;
      padding: 1rem;
      box-shadow: $shadow;
      @include rel;
      z-index: 1;

    &--arrow {
          @include flex;
          @include abs;
          left: 2rem;
          top: 1.5rem;
          font-size: 1.2rem;
          color: $header;
    }
  }
}

