.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3); 
    position: relative;
    z-index: 10;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        box-shadow: 0 0 .5rem rgba(0,0,0,0.3); 
        position: relative;
        z-index: 1;

      &--arrow {
            position: absolute;
            left: 2rem;
            top: 1.5rem;
            font-size: 1.2rem;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
      }
    }

}

