.franc__img {
    max-width: 100%;
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
    animation: card 2s ease-in-out;
}

.menu {
    background-color: $grey-semi-light;
    border-radius: 3rem 3rem 0 0;
    @include rel;
    margin-top: -3.6rem;
    padding: 0.5rem 1rem;
    z-index: 1; 
    overflow: hidden;

    &__head {
        font-family: "Shrikhand", sans-serif;
        font-weight: 200;
        font-size: 1.75rem;
    }

    &__like {
        @include end;
    }

    &__heart {
        top: 2.5rem;
        right: 2.5rem;
        font-size: 1.55rem;
        @include abs;
        color: $black;

        &--dark {
            top: 2.5rem;
           right: 2.5rem;
            font-size: 1.55rem;
            @include abs;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            &:hover {
                border: 0;
                background-image: linear-gradient(0deg, $color-primary, $color-secondary);
                cursor: pointer;
                animation: heart 2s ease-in-out 30ms;
                @include heart;
            }
        }
    }

    &__flex {
        @include evenly;
        
    }

    &__meal {
        font-size: 1rem;
        font-weight: 200;
        @include rel;
        margin: 1.2rem;

        &::after{
            content: "";
            width: 2.7rem;
            height: 0.18rem;
            background-color: $color-tertiary;
            @include abs;
            bottom: 0;
            left: 0;
            top: 1.5rem; 
        }
    }

    &__item {
        box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);
        border-radius: 1rem;
        background-color: $white;
        padding: 0.75rem 1rem;
        margin: 1rem;
        width: 21.6rem;
        height: 4.3rem;

        &--un {
            box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);
            border-radius: 1rem;
            background-color: $white;
            padding: 0.75rem 1rem;
            margin: 1rem;
            width: 21.6rem;
            height: 5.9rem;
        }
    }

    &__anim {
        animation: meal 2s;
        @include meal;
    }

}
.item__dinner {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    
    &__tit {
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    &__sub {
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
    }

    &__price {
        display: flex;
        justify-content: flex-end;
        font-weight: 700;
        @include rel;
        bottom: 2.3rem;
        right: 0.6rem;
    }
    
    &__check {
        display: flex;
        justify-content: flex-end;
        font-size: 1.4rem;
        @include rel;
        bottom: 7rem;
        left: 4rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &--un {
            display: flex;
            justify-content: flex-end;
            font-size: 1.4rem;
            @include rel;
            bottom: 8.5rem;
            left: 4rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
.check {
    @include flex;
    background-color: $color-tertiary;
    height: 4.5rem;
    width: 4rem;
    color: $white;
    border-radius: 0 1rem 1rem 0;
    @include rel;

    &--un {
        @include flex;
        background-color: $color-tertiary;
        height: 6rem;
        width: 4rem;
        color: $white;
        border-radius: 0 1rem 1rem 0;
        @include rel;
    }
}






















.command__btn {
    @include flex;
    padding: 2rem;
}
.btn__com {
    @include com;

    &:hover {
        @include btn-hov;
    }
}
