
*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3); 
    position: relative;
    z-index: 10;
}

.local {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #f3f3f3;
    padding: 0.5rem;
    position: relative;
}
.local__text {
    font-size: 1.2rem;
    font-weight: bold;
}
.reserve {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    padding: 1.9rem;
}
.btn {
    border: none;
    background-image: linear-gradient(0deg, rgba(147, 86, 220,.9), rgba(255, 121, 218,.9));
    background-color: #686868;
    box-shadow: 0 0 .1rem; 
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}
.btn:hover {
    box-shadow:  .25rem .25rem .10rem rgba(0,0,0,0.2);  
    transform: scale(1);
}

.opé {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
}
.opé__fonct {
    counter-reset: bulls;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.opé__foncts {
    width: 20rem;
    height: 4.8rem;
    background-color: #f6f6f6;
    border-radius: 1.3rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3); 
    padding: 1rem 1rem;
    font-weight: 700;
    list-style: none;
    position: relative;
}
.opé__foncts::before {
    content: counter(bulls);
    counter-increment: bulls;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9356DC ;
    border-radius: 1.25rem;
    color: #fff;
    width: 1.45rem;
    height: 1.45rem;
    position: absolute;
    bottom: 1.5rem;
    left: -0.5rem; 
} 
.opé__icon{
    color: #7e7e7e;
    padding: 1rem 1.25rem;
}
.opé__foncts:hover {
    background-color: #f5e8ff;
    cursor: pointer;
} 
 .opé__icon:hover {
    color: #9356DC;
    cursor: pointer;
}
.restaurant {
    background-color: #fafafa;
    padding: 3rem;
}
.restaurant__title {
    text-align: center;
    padding: 2rem;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.unline {
    text-decoration: none;
    color: inherit;
}
.card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3); 
    width: 50vh;
    height: 16.8rem;
    position: relative;
} 
.card__img {
    width: 50vh;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.card__new {
    background-color: #99E2D0;
    color: #008766;
    padding: 0.5rem;
    border-radius: .12rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.card__title {
    display: flex;
    flex-direction: column;
    padding: 0.8rem; 
    position: relative;
}
.card__heart {
    right: 1rem;
    font-size: 2rem;
    position: absolute;
    background-clip: text;
   -webkit-background-clip: text;
}
.card__heart--dark {
    right: 1rem;
    font-size: 2rem;
    position: absolute;
    background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}
.card__heart--dark:hover {
    border: none;
    background-image: linear-gradient(0deg, rgba(147, 86, 220,.9), rgba(255, 121, 218,.9));
    transition: all -5s ease-out;
    cursor: pointer;
}   

.title__title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 0.3rem;
}


.footer {
    background-color: #353535;
    padding: 2rem;
    text-align: center;
}
.footer__img {
    padding: 0 1rem;
    filter: invert(100%);
    color: #fff;
    height: 1.3rem;
    margin: 1rem;
}
.footer__contact {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: #fff;
    list-style: none;
    padding: 0 1rem;
}
.footer__contact__title {
   padding: 0.2rem;
}
.title__icone {
    margin: 0.4rem;
}
.title__icon {
    margin-right: 0.4rem;
    color: #fff;
    text-decoration: none;
}

// pages de restaurants

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3); 
    position: relative;
    z-index: 1;
}
.header__logo--arrow {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    font-size: 1.2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.franc__img {
    max-width: 100%;
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}

.menu {
    background-color: #f6f6f6;
    border-radius: 3rem 3rem 0 0;
    position: relative;
    margin-top: -6rem;
    padding: 4rem;
    z-index: 1;
}

.menu__heart {
    right: 5rem;
    top: 5rem;
    font-size: 2rem;
    position: absolute;
    background-clip: text;
   -webkit-background-clip: text;
}
.menu__heart--dark {
    right: 5rem;
    top: 5rem;
    font-size: 2rem;
    position: absolute;
    background-clip: text;
   -webkit-background-clip: text;
    color: transparent;
}
.menu__heart--dark:hover {
    border: none;
    background-image: linear-gradient(0deg, rgba(147, 86, 220,.9), rgba(255, 121, 218,.9));
    transition: all -5s ease-out;
    cursor: pointer;
}   
.menu__flex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}
.menu__entree{
    font-size: 1.2rem;
    font-weight: 400;
    position: relative;
    padding:0.5rem 0.1rem;
}
.menu__entree::after {
    content: "";
    width: 3rem;
    height: 0.23rem;
    background-color: #99E2D0;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.btn__menu {
    width: 22rem;
    height: 4.3rem;
    list-style: none;
    box-shadow: 0 0 .5rem rgba(0,0,0,0.3);
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background-color: #fff;
    position: relative;
 } 
.menu__title {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 0 0.2rem;
}
.menu__sous__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.menu__price {
position: absolute;
bottom: 1.5rem;
left: 19rem;
} 

.command__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}